<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem #

## Author ##
Marko T

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives ####
- List popular languages for Data Science
- List popular tools for Data Science
- List popular libraries for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. Matplotlib

In [6]:
import pandas as pd
data = {
    "Data Science Tools": [
        "Jupyter Notebook",
        "RStudio",
        "VS Code"
    ]
}
df = pd.DataFrame(data)
df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2            VS Code

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335